
<div class="example-container">
  <div class="form-conteiner">
    <form  (submit)="submit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Write here">
        
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Write here">
        
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Message</mat-label>
        <input matInput placeholder="Write here">
        
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary">Send</button>
      </div>
    </form>
  </div>
</div>